@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  input:focus ~ label,
  input:not(:placeholder-shown) ~ label {
    @apply -translate-y-2 text-xsmall-regular; 
  }

  input:focus ~ label {
    @apply left-0;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid #212121;
    -webkit-text-fill-color: #212121;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
}

@layer components {

  .test {
    @apply max-w-[1440px] w-full mx-auto px-8;
    grid-template-columns: calc(50% - 22px) calc(50% - 22px);
    grid-gap: 44px;
    padding: 12px;
  }

  .hero-subtext {
    @apply max-w-[767px];
    padding-top: 0;
    padding-bottom: 0;
    margin: 45px auto;
    padding: 0px 10px;
    text-align: center;
    width: 1140px;
    max-width: 100%;
  }

  .about-us-hero {
    background-size: cover;
    height: 25em;
    min-height: 25em;
    position: relative;
  }

  .numbered-blocks__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 15px 140px;
  }

  .numbered-blocks__container {
    width: 1140px;
    max-width: 100%;
    border: 1px solid #000;
    position: relative;
    border-radius: 6px;
  }

  .numbered-blocks__title {
    font-family: CooperBTBold;
    font-size: 65px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    position: relative;
    top: -50px;
  }

  .numbered-blocks__title span {
    padding: 0 55px;
    background: #fff;
  }

  .main-container {
    padding: 2em;
  }

  .content-container {
    padding: 12px;
  }

  .flex-container h4 {
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 32px;
  }

  .rectangular-image {
    margin-bottom: 45px;
  }

  .about-content-heading {
    @apply max-w-[1050px];
    font-size: 70px;
    font-weight: 700;
    font-family: CooperBTBold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: right;
    margin: 0;

  
  }

  .facebook-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%; /* Makes the button circular */
    border: none;
    padding: 0;
  }

  .background-image {
    background-image: url('/6.png'); /* Replace with your image path */
    background-size: cover; /* Cover the entire area */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the image */
  }

.hover-effect-group:hover .hover-img {
  display: block;
 }
 .hover-img {
   display: none;
}

.spend-brew-coins-container {
  max-width: 800px; /* Adjust the width as needed */
  margin: auto;
}

.spend-brew-coins-container h2 {
  font-size: 50px; /* Adjust the size as needed */
}

.spend-brew-coins-container p {
  font-size: 1rem; /* Adjust the size as needed */
}

hr {
  border: none;
  height: 1px;
  background-color: black; /* Adjust the color as needed */
  width: 30%; /* Adjust the width as needed */
  margin: auto;
}

  .second-heading {
    font-family: CooperBTBold;
    font-size: 30px;
    color: #000000;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    margin-top: 20px;
    margin-bottom: 10px;
    letter-spacing: normal;
  }

  .third-h1 {
    font-size: 50px;
    color: #000;
    font-weight: black;
    font-stretch: normal;
    font-style: black;
    letter-spacing: normal;
  }
  .third-heading {
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 5px;
    letter-spacing: normal;
  }

  .fourth-heading {
    font-size: 12px;
    color: #000000;
    font-weight: 400;
    font-style: normal;
    line-height: 0.8;
    letter-spacing: normal;
  }
  .fifth-heading{
    font-size: 15px;
    color: #ffffff;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
  }

  .description{
    font-size: 15px;
    color: #000000;
    font-weight: 500;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
  }
  .input {
    border: 2px solid #000; /* Change as needed */
    border-radius: 9999px; /* Full pill shape */
    padding: 8px 16px; /* Adjust as needed */
  }
  
  .button {
    border: none; /* No border */
    cursor: pointer; /* Clickable cursor */
  }

  .about-us-content__button{
    width: 100%;
  }

  .about-us-content__button button {
    height: 60px;
    border-radius: 30px;
    background-color: #000;
    font-family: Gotham;
    font-size: 14px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    color: #fff;
    padding: 0 30px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin-top: 30px;
    width: 100%;
}
  

  .contrast-btn {
    @apply px-4 py-2 border border-black rounded-full hover:bg-black hover:text-white transition-colors duration-200 ease-in;
  }

  .text-xsmall-regular {
    @apply text-[10px] leading-4 font-normal;
  }

  .text-small-regular {
    @apply text-xs leading-5 font-normal;
  }

  .text-small-semi {
    @apply text-xs leading-5 font-semibold;
  }

  .text-base-regular {
    @apply text-sm leading-6 font-normal;
  }

  .text-base-semi {
    @apply text-sm leading-6 font-semibold;
  }

  .text-large-regular {
    @apply text-base leading-6 font-normal;
  }

  .text-large-semi {
    @apply text-base leading-6 font-semibold;
  }

  .text-xl-regular {
    @apply text-2xl leading-[36px] font-normal;
  }

  .text-xl-semi {
    @apply text-2xl leading-[36px] font-semibold;
  }

  .text-2xl-regular {
    @apply text-[30px] leading-[48px] font-normal;
  }

  .text-2xl-semi {
    @apply text-[30px] leading-[48px] font-semibold;
  }

  .text-3xl-regular {
    @apply text-[36px] leading-[48px] font-normal;
  }

  .text-3xl-semi {
    @apply text-[36px] leading-[48px] font-semibold;
  }

  .work-part {
    @apply overflow: hidden;
  }
  .work-process-title { 
    @apply font-size: 30px; max-width: 500px; font-weight: 600;
  }
  .work-des {
    @apply max-width: 480px; font-size: 20px;
  }
  .work-part .heading-des{
    @apply font-size: 18px;
  }
}
